<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Tema</h1>

<f:flashMessages />

<table  class="tx_gestionestadisticaunal" >
	<tr>
		<th><f:translate key="tx_gestionestadisticaunal_domain_model_tema.nombre" /></th>
		<th><f:translate key="tx_gestionestadisticaunal_domain_model_tema.nombre_display" /></th>
		<th><f:translate key="tx_gestionestadisticaunal_domain_model_tema.descripcion" /></th>
		<th><f:translate key="tx_gestionestadisticaunal_domain_model_tema.contenido" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{temas}" as="tema">
		<tr>
			<td><f:link.action action="show" arguments="{tema : tema}"> {tema.nombre}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tema : tema}"> {tema.nombreDisplay}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tema : tema}"> {tema.descripcion}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tema : tema}"> 
				<f:format.html>{tema.contenido}</f:format.html>			
			</f:link.action></td>
			<td><f:link.action action="edit" arguments="{tema : tema}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{tema : tema}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Tema</f:link.action>
</f:section>
</html>