<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">
<div class="preview-temas-gestion">
	<div class="container-fluid">
		<div class="row">
			<f:for each="{temas}" as="tema">
				<div class="col-md-3">
					<div class="border-preview-tema">						
											
						<f:link.action class="preview-tema" pageUid="{uri_link}" pluginName="Temasgestion" target="_blank" action="show" arguments="{tema : tema}"> 
							<h3>{tema.nombreDisplay}</h3>
						</f:link.action>
					
					</div>
							
				</div>			
			</f:for>
				<div class="col-md-3">
					<div class="border-preview-tema">						
									
						<f:link.action class="preview-tema" pageUid="{uri_link}" pluginName="Temasgestion" target="_blank" action="list" >
							<h3>{titulo_link}</h3>		
						</f:link.action>
							
					</div>
				</div>	
		</div>
	</div>	
</div>


	
</f:section>
</html>