<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<div class="container-fluid">
	<div class="show-tema-gestion">
			
		<div class="row">
			<div class="col-md-3 col-md-push-9">
				<f:render partial="Tema/VerticalList" arguments="{temas:temas}" />
			</div>
			<div class="col-md-9 col-md-pull-3">
				<div class="main-tema">

					<h2>{tema.nombreDisplay}</h2>	
					<f:format.html>{tema.contenido}</f:format.html>

					<div class="recursos">
						<ul class="list-group">	


							<f:for each="{tema.recursos}" as="recurso">	
								<f:if condition="{recurso.link}">
								    <f:then>	
								    	<li class="list-group-item recurso"><a target="_blank" href="{recurso.link}">{recurso.nombreDisplay} <span class="glyphicon glyphicon-link"></span></a></li>
									</f:then>
								    <f:else if="{recurso.archivo}">
								    	<li class="list-group-item recurso"><a target="_blank" href="/fileadmin{recurso.archivo.originalResource.originalFile.identifier}">{recurso.nombreDisplay} <span class="glyphicon glyphicon-link"></span></a> </li> 
								    </f:else>
								    <f:else>        
									</f:else>
								</f:if>						
							</f:for>


						</ul>	
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>

</f:section>
</html>